:root {
  --flashcard-height: min(45vh, calc(3 / 5 * 40vw));
  --flashcard-width: min(40vw, calc(5 / 3 * 45vh));
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #30075f;
  margin: 0;
}

#flashcard {
  position: absolute;
  left: calc((100vw - var(--flashcard-width)) / 2);
  top: calc((100vh - var(--flashcard-height)) / 2);
  width: var(--flashcard-width);
  height: var(--flashcard-height);
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

#flashcard-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 24px;
}

#flip-card-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 10px;
}

#button-row {
  position: absolute;
  left: calc((100vw - var(--flashcard-width)) / 2);
  bottom: calc((100vh - var(--flashcard-height)) / 2 - 10vh);
  width: var(--flashcard-width);
  height: 8vh;
}

.button-row-button {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 4vh;
  border: 1px solid black;
  padding: 0;
}

#prev-button {
  left: 2vw;
}

#next-button {
  right: 2vw;
}